

.h1 {
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    margin-bottom: 2rem;
  }


.item:hover img{
    transform: scale(0.8);
    cursor: pointer;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: rgb(236, 22, 22) !important;
}
